

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    width: 100%;
    background-color: rgb(220, 220, 220); 
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 10vh;
    box-shadow: 0 0rem .08rem rgb(0, 0, 0);
    .logo img {
        width: 120px;
        height: 50px;
    }
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 10rem;

    li{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-family: "Barlow", serif;
        font-weight: 500;
    }

    li a {
        text-decoration: none;
        transition: color 0.3s ease;
        font-size: 1.3rem;
        color: black;

        &:hover {
            color: rgba(152,0,7,255);
        }
    }

    li button{
        color:  rgba(152, 0, 7, 255);
        height: 36px;
        width: 90px;
        font-size: 1.3rem;
        font-family: none;
        background-color: transparent ;
        border: 1.6px solid rgba(152, 0, 7, 255);
        border-radius: 9px;
        transition: 0.6s;
        font-family: "Barlow", serif;
        font-weight: 500;
        padding: 0;

        &:hover {
            background-color: rgba(152, 0, 7, 255);
            color: white;
        }
    }
}
/* Navbar Style End */





/* Page1 start*/

        .page1{
            display: grid;
            grid-template-columns: repeat(3, 1fr); /* Default 3 columns */
            gap: 10px;
            width: 100%;
            background-color: lightgray;

            position: relative;
            z-index: 1;
            height: 100vh;
        }

        .parent > div {
            padding: 10px;
            border: 1px solid black;
            text-align: center;
            background-color: lightgray; /* For visualization */
            height: 100%;
        }

        .sname h3 {
            font-size: 10.4rem;
            font-weight: 900;
            color: rgba(152, 0, 7, 255);
            margin-top: 5vh;
            margin-left: 10vh;
        }

        .shoe1 {
            padding-bottom: 100px;
            position: relative;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .circle {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(152, 0, 7, 0.1);
            border-radius: 50%;
            z-index: -1;
            width: 400px;
            height: 400px;
        }

        .circle img {
            rotate: -37deg;
            z-index: 40;
            width: 470px;
            height: 280px;
        }

        .sdescription p {
            font-size: 1.5rem;
            font-weight: 500;
            color: #33322f;
            margin-top: 60vh;
            padding-right: 5vh;
            padding-left: 5vh;
        }

        .sdescription p span {
            color: rgba(152, 0, 7, 255);
        }
/* Page1 End*/



/* .box{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    height: 100vh;
    width: 300%;
    border-top: 2px solid white;
    padding: 30px 0px;
    background-color: black;
}

.box h3{
    text-align: center;
    text-transform: uppercase;
    transform: translateX(30%);
    color: #fff;
    font-size: 80vh;
} */

/* Page2 start*/
.page2{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: lightgray;
}

.left-div, .right-div{
    flex: 1;
    width: 100%;
}

.left-div{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 470px;
        height: 280px;
        z-index: 4;
        rotate: -10deg;
        padding-bottom: 40px;
        transition: 0.4s;
        &:hover{
            transform: scale(1.1);
            rotate: -15deg;
        }
    }
}

.right-div{
    padding-left: 80px;
    ul li{
        color: black;
        font-family: "Barlow", serif;
        text-decoration: none;
        font-size: 1.9rem;
        line-height: 80px;
        font-weight: 500;
        &:hover {
            transform: scale(1.2);
        }
    }
}


span{
    color: rgba(152, 0, 7, 255);
}
/* Page2 ENd*/




/* middle start*/
.middpage{
    position: relative;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.553);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.buybtn{
    height: 95px;
    width: 220px;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(216, 216, 216) !important;
    border: 5px solid white;
    border-radius: 100px;
    font-size: 3rem;
    padding: 7px 25px;
    font-weight: 600;
    cursor: pointer;
    position: absolute;
    z-index: 2; 
    padding: 10px 20px;
    transition: 0.5s;

    &:hover{
        background-color: rgba(255, 255, 255, 0.345);
        color: rgb(255, 255, 255) !important;
        transform: scale(1.1);
    }
}

.nikebgvideo{
    width: 100%;
    z-index: -1;
    height: auto;
    object-fit: cover; /* Ensures the video fills the container without distortion */
    object-position: bottom; /* Focuses on the lower part of the video */
    display: block;
    animation: fadeInVideo 2s 1.5s forwards;
    opacity: 0;
}

/* middle End*/

