

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    width: 100%;
    background-color: rgb(255, 255, 255); 
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 2.2rem;
    box-shadow: 0 0rem .08rem rgb(0, 0, 0);
    .logo img {
        width: 120px;
        height: 50px;
    }
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 10rem;
    padding-right: 4rem;


    li{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    li a {
        text-decoration: none;
        transition: color 0.3s ease;
        font-size: 1.3rem;
        color: black;

        &:hover {
            color: rgba(152,0,7,255);
        }
    }

    li button{
        color:  rgba(152, 0, 7, 255);
        height: 38px;
        width: 80px;
        font-size: 1.3rem;
        font-family: none;
        background-color: transparent ;
        border: 1px solid rgba(152, 0, 7, 255);
        border-radius: 8px;
        transition: 0.6s;

        &:hover {
            background-color: rgba(152, 0, 7, 255);
            color: white;
        }
    }
}
/* Navbar Style End */





/* Page1 start*/
.page1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    position: relative;
    z-index: 1;
    height: 100vh;
}

.sname, .shoe1, .sdescription {
    flex: 1;
    width: 100%;
}

.sname {
    height: 100%;
}

.sname h3 {
    font-size: 10.4rem;
    font-weight: 900;
    color: rgba(152, 0, 7, 255);
    margin-top: 5vh;
    margin-left: 10vh;
}

.shoe1 {
    height: 100%;
    padding-bottom: 100px;
    position: relative;
    z-index: 1;
}

.shoe1 .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    background-color: rgba(152, 0, 7, 0.1);
    border-radius: 50%;
    z-index: -1;
}

.shoe1 .circle img {
    width: 470px;
    height: 280px;
    rotate: -37deg;
    z-index: 40;
    margin-bottom: 50px;
    margin-right: 30px;
}

.sdescription {
    height: 100%;
}

.sdescription p {
    font-size: 1.5rem;
    font-weight: 500;
    color: #33322f;
    margin-top: 60vh;
    padding-right: 5vh;
    padding-left: 5vh;
}

.sdescription p span {
    color: rgba(152, 0, 7, 255);
}
/* Page1 End*/



/* .box{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    height: 100vh;
    width: 300%;
    border-top: 2px solid white;
    padding: 30px 0px;
    background-color: black;
}

.box h3{
    text-align: center;
    text-transform: uppercase;
    transform: translateX(30%);
    color: #fff;
    font-size: 80vh;
} */

/* Page2 start*/
.page2{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.left-div, .right-div{
    flex: 1;
}

.left-div{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 470px;
        height: 280px;
        z-index: 4;
        rotate: -10deg;
        padding-bottom: 40px;
    }
}

.right-div{
    padding-left: 80px;
    ul li{
        color: black;
        font-family: "Barlow", serif;
        text-decoration: none;
        font-size: 1.9rem;
        line-height: 80px;
        font-weight: 500;
    }
}

span{
    color: rgba(152, 0, 7, 255);
}
/* Page2 ENd*/




/* middle start*/
.middpage{
    position: relative;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.553);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.buybtn{
    height: 100px;
    width: 230px;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(216, 216, 216) !important;
    border: 5px solid white;
    border-radius: 100px;
    font-size: 3rem;
    padding: 7px 25px;
    font-weight: 500;
    cursor: pointer;

    position: absolute;
    z-index: 2; 
    padding: 10px 20px;
}

.nikebgvideo{
    width: 100%;
    z-index: -1;
    height: auto;
    object-fit: cover; /* Ensures the video fills the container without distortion */
    object-position: bottom; /* Focuses on the lower part of the video */
    display: block;
    animation: fadeInVideo 2s 1.5s forwards;
    opacity: 0;
}

/* middle End*/
